<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Index</h1>
	<p> {{cookie}} </p>
	<p> {{attr}} </p>
	<button id="logout" style="position: absolute;right: 0;">Logout</button>
	<script>
		console.log(document.cookie);
		setTimeout(() => {
			fetch('/ajax', {
				credentials: 'include',
				headers: new Headers({
					'X-Requested-With': "XMLHttpRequest"
				}),
			})
			.then(response => {
				if (response.status === 401) {location.href = '/login'}
				return response.text()
			})
			.then(body => {
				console.log(body);
				console.log(document.cookie);
				var p = document.createElement('p');
				p.textContent = body;
				document.body.appendChild(p);
			})
		}, 70000);

		document.getElementById('logout').addEventListener('click', e => {
			fetch('/logout', {credentials: true})
			.then(response => console.log(response) && response.text())
			.then(body => location.href = '/login')
		});
	</script>
</body>
</html>